# flyctl launch added from .gitignore
### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
**/.vscode
#Cache folder
**/.alcache
#Symbols folder
**/.alpackages
#Snapshots folder
**/.snapshots
#Testing Output folder
**/.output
#Extension App-file
**/*.app
#Rapid Application Development File
**/rad.json
#Translation Base-file
**/*.g.xlf
#License-file
**/*.flf
#Test results file
**/TestResults.xml

**/node_modules
**/.next
**/.env
**/.env.local
**/.DS_Store
**/app/.DS_Store

# Sentry Auth Token
**/.sentryclirc

fly.toml
